<h2>Book Detail for: <span><%= @book.name %><span></h2>

<a href="/books">Book List</a>
<a href="/books/new">New Book</a>

  <p>

  </p>
  <p>--------------------------------------------------------------</p>
  <p>
    <span>ISBN: </span>
    <%= @book.isbn %>
  </p>
  <p>
    <span>Description: </span>
    <%= @book.description %>
  </p>
