<ul>
  <% @book.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<h1>Edit Information</h1>

<%= link_to "Edit Book", edit_book_path(book.id) %>

<%= form_tag detail_path, method: "patch" do %>
  <%= render 'form' %>
<% end %>
