<ul>
  <% @book.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<h1>Edit Information</h1>

<%= link_to "Book List", books_path %>
<%= link_to "New Book", new_book_path %>

<p>

</p>
<p>--------------------------------------------------------------</p>

  <%= render 'form' %>
