<h1>Welcome to my Library</h1>

<%= link_to "Book List", books_path %>
<%= link_to "New Book", new_book_path %>

<% @books.each do |book| %>
  <p>

  </p>
  <p>--------------------------------------------------------------</p>
  <%= link_to book.name, book_path(book.id) %>

<% end %>
