<h1>Adding New Book</h1>
<form action="/books" method="post">
  <label for="name">Name</label>
  <input type="text" name="book[name]" value="">
  <label for="isbn">Isbn</label>
  <input type="text" name="book[isbn]" value="">
  <label for="description">Description</label>
  <input type="text" name="book[description]" value="">
  <label for="name">name</label>
  <input type="submit" name="name" value="Save">
</form>
